* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html, body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  background-image: url("/home/odinstudent/odinprojects/repos/restaurant-page/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: hotpink;
}

.logo {
  margin-bottom: 15px;
  height: 70px;
  width: 70px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

nav li {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

li.selected {
  background-image: url(/home/odinstudent/odinprojects/repos/restaurant-page/assets/bubble2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  font-weight: bold;
}

nav li:hover {
  font-weight: bold;
}

.spacer {
  width: 70px;
}

#content {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  max-width: 75%;
  min-height: 100vh;
  border-radius: 10px;
  background-color: rgba(23, 196, 196, 0.801);
}

.banner img {
  width: 90%;
  height: auto;
  clip-path: inset(0% 1% 0% 1% round 10px);
}

.text-bubble {
  width: 90%;
  height: auto; 
  padding: 10%;
  margin: -5%;
  background-image: linear-gradient(-45deg, #ba71ff, #ff71b8);
  clip-path: inset(40px);
  clip-path: inset(40px 20px);
  clip-path: inset(40px 20px 40% 50px);
  clip-path: inset(40px 20px round 15% 0);
}

.text-bubble p, .text-bubble ul {
  margin-top: 10px;
}

/* menu page settings */
table {
  margin: 10px auto;
}

td {
  padding: 10px;
}

.price {
  font-weight: bold;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: hotpink;
}

#credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

#credits a {
  padding: 12px;
}

@media screen and (min-height: 1000px) {
  .container {
    max-width: 50%;
    min-height: 100vh;
    border-radius: 10px;
    background-color: rgba(23, 196, 196, 0.801);
  }

  .banner img {
    width: 75%;
    height: auto; 
  }

  .text-bubble {
    width: 70%;
    padding: 5%;
    margin: -1%;
  }
}